/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	background-color: #CCCCCC;			 
}
.grid_container {
	display: grid;
	grid-template-columns: 40px 1fr ;
	grid-template-rows: 40px auto;

}

.grid_header_icon{
	grid-column: 1/2;
    grid-row: 1/2;
	background-color: #040818;
	color:#fff;
	padding:12px;
}
.grid_header{
	grid-column: 2 / 3;
    grid-row: 1/2;
	background-color: #040818;
	color:#fff;
	padding:12px;
}

.grid_menu {
	grid-column: 1/2;
    grid-row: 2/-1;
	grid-area:"menu";
	display: flex;
	background-color: #040818;
	color:#fff;
	flex-direction: column;
}
.grid_menu_item {
	padding:10px;
	border: solid #231702;
	border-width: 1px 0 0 0;	
}
.grid_menu_item:hover {
	background-color: #231702;
}

.grid_main_container{
	grid-column: 2/-1;
    grid-row: 2/-1;
	display: grid;
	grid-auto-flow:row dense;
	grid-template-columns: repeat(4, [col] 1fr );
	grid-template-rows: repeat(3, [row] auto  );
}
.grid_col_wide {
	grid-column-end: span 3;
	background-color: #B0B0B0;
}
.grid_col_normal {
	grid-column-end:  span 2;
	background-color: #B0B0B0;
}
.grid_col_narrow {
	grid-column-end:  span 1;
	background-color: #B0B0B0;
}
.grid_row_short {
	grid-row-end:  span 1;
	background-color: #B0B0B0;
}
.grid_row_normal {
	grid-row-end:  span 2;
	background-color: #B0B0B0;
}
.grid_row_tall {
	grid-row-end: span 3;
	background-color: #B0B0B0;
}



/* Paletton selected Bright Colors */
.color-blue-0 { color: #0730A9 }	/* Main Primary color */
.color-blue-1 { color: #3964E5 }
.color-blue-2 { color: #1448E2 }
.color-blue-3 { color: #05206E }
.color-blue-4 { color: #021039 }

.color-red-1-0 { color: #FA0600 }	/* Main Secondary color (1) */
.color-red-1-1 { color: #FF2C27 }
.color-red-1-2 { color: #FF0700 }
.color-red-1-3 { color: #A40400 }
.color-red-1-4 { color: #540200 }

.color-green-2-0 { color: #00C800 }	/* Main Secondary color (2) */
.color-green-2-1 { color: #24EF24 }
.color-green-2-2 { color: #00ED00 }
.color-green-2-3 { color: #008300 }
.color-green-2-4 { color: #004300 }

.color-yellow-0 { color: #FADD00 }	/* Main Complement color */
.color-yellow-1 { color: #FFE527 }
.color-yellow-2 { color: #FFE100 }
.color-yellow-3 { color: #A49000 }
.color-yellow-4 { color: #544A00 }


/* Paletton selected Dark Colors */

.dark-brown-0 { color: #3E372A }	/* Main Primary color */
.dark-brown-1 { color: #C3BAAB }
.dark-brown-2 { color: #897F6E }
.dark-brown-3 { color: #30240D }
.dark-brown-4 { color: #231702 }

.dark-forest-1-0 { color: #273524 }	/* Main Secondary color (1) */
.dark-forest-1-1 { color: #94A490 }
.dark-forest-1-2 { color: #62735D }
.dark-forest-1-3 { color: #11290B }
.dark-forest-1-4 { color: #071E02 }

.dark-merlot-2-0 { color: #3B282B }	/* Main Secondary color (2) */
.dark-merlot-2-1 { color: #BAA2A6 }
.dark-merlot-2-2 { color: #82696C }
.dark-merlot-2-3 { color: #2E0C11 }
.dark-merlot-2-4 { color: #220206 }

.dark-charcoal-0 { color: #1F212B }	/* Main Complement color */
.dark-charcoal-1 { color: #767985 }
.dark-charcoal-2 { color: #4E505D }
.dark-charcoal-3 { color: #0C1021 }
.dark-charcoal-4 { color: #040818 }




/* Pantone Colors ========================================================================== */
.alarm {color:#C8102E;}
.warning {	color:#FBE122;}
.success{	color:#31B700;}
.blue{	color:#0957C3;}

/* Scheider Electric Colors ========================================================================== */
.validated { color: #00AC28;}
.alert { color: #FFDE00;}
.error { color: #E7473C;}
.information { color: #42B4E6;}

/* Honeywell Colors ========================================================================== */
.alarmhigh { color: #ee3124;}
.alarmmedium { color: #ffc627;}
.alarmlow { color: #00bfbf;}
.pv { color: #d0d0d0;}
.text { color: #c0c0c0;}
.labels { color: #808080;}
.background { color: #303030;}
.backgroundtitle { color: #101010;}












